<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>邮箱验证成功</title>
</head>
<body style="width: 100%;margin: 0;padding: 0;height: 100%;background: rgba(0, 0, 255, 0.1);">
<div style="width: 80%;margin-left: 10%;text-align: center;margin-top: 20%;">
    <h1>邮箱验证成功 :)</h1>
    <p>
        &emsp;&emsp;您已成功绑定邮箱：{{email}}。<br>
        &emsp;&emsp;绑定邮箱后与您同组的用户可以通过邮箱向您发送提醒。
    </p>
    <a href="http://49.232.101.156">
        <div style="margin-left: auto;margin-right: auto;margin-top: 10px;padding-top: 10px;padding-bottom: 10px;
            border-radius: 5px;background: rgba(73, 73, 131, 0.9);color: snow;text-align: center;font-size: 30px;">
            单击此处前往登录页面
        </div>
    </a>
</div>
</body>
</html>