<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>邮箱验证失败</title>
</head>
<body style="width: 100%;margin: 0;padding: 0;height: 100%;background: rgba(255, 0, 0, 0.1);">
<div style="width: 80%;margin-top: 20%;margin-left: 10%;text-align: center;">
    <h1 style="color: red;">:( 邮箱验证失败</h1>
    <p>
        &emsp;&emsp;这条邮箱验证可能被使用过或已经过期了。<br>
        &emsp;&emsp;您可以前往系统检查是否已经关联过本邮箱或重新发送验证邮件。
    </p>
    <a href="http://49.232.101.156">
        <div style="margin-left: auto;margin-right: auto;margin-top: 10px;padding-top: 10px;padding-bottom: 10px;
            border-radius: 5px;background: red;color: snow;text-align: center;font-size: 30px;">
            单击此处前往登录页面尝试重新绑定
        </div>
    </a>
</div>
</body>
</html>